body{
    background-color:#F5F5F5;
}
.centre {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.imgcentre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.imgfirstlist{
    display: block;
    margin-left: 30px;
    margin-right: auto;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.imglist{
    display: block;
    margin-left: 30px;
    margin-right: auto;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
div.text{
    text-align: center;
    font-family: "Calibri";
    color: #A9A9A9
}
input[type=text] {
    margin: auto;
    width:  100%;
    height: 69px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 26px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

input[type=text]:focus {
        width: 100%;
    }